NODE_ENV=development
PORT=3000
ADMIN_PORT=3001
INSTANCE_ID=local-dev
JWT_SECRET=change-me-in-production
JWT_EXPIRES_IN=1h

POSTGRES_PRIMARY_HOST=localhost
POSTGRES_PRIMARY_PORT=5432
POSTGRES_REPLICA_HOST=localhost
POSTGRES_REPLICA_PORT=5432
POSTGRES_USER=app
POSTGRES_PASSWORD=app123
POSTGRES_DB=flashsale

REDIS_HOST=localhost
REDIS_PORT=6379